$primary-color           = #3498db
$secondary-color         = #2980b9
$primary-danger-color    = #ea6052
$secondary-danger-color  = #c0392b
$primary-success-color   = #2ecc71
$secondary-success-color = #27ae60
$border-radius-base      = 3px
