@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100);

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f1f1f1;
}

.main-header {
  min-height: 100vh;
  position: relative;
  background: url('../images/header-background.jpg') no-repeat center center;
  background-size: cover;
}

.main-header:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.7);
}

.main-header-content-wrapper {
  z-index: 5;
  text-align: center;
  position: absolute;
}

.main-header-content-wrapper h1,
.main-header-content-wrapper p {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.main-header-content-wrapper h1 {
  font-weight: 100;
}

.main-header-content-wrapper h1:after {
  content: "";
  height: 2px;
  width: 200px;
  display: block;
  background: #fff;
}

.main-header-content-wrapper h1 b {
  font-weight: 300;
}

.main-header-content-wrapper p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 3em;
}

.main-navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border: none;
  position: absolute;
}

.main-navbar .navbar-toggle .icon-bar {
  background: #fff;
}

.main-navbar .navbar-brand {
  font-weight: 300;
}

.main-navbar li a {
  padding: 5px 15px;
}

.main-navbar li a {
  font-weight: 600;
  padding: 7px 25px;
}

.main-navbar li a,
.btn-signup.btn-lg,
.main-navbar .navbar-brand {
  color: #fff;
}

.main-navbar li a:hover {
  color: #fff;
  background: none;
}

.main-navbar li a.btn-signup,
.btn-signup {
  border-radius: 4px;
  background: #2ecc71;
  transition: .3s all ease;
  box-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.main-navbar li a.btn-signup:hover,
.btn-signup:hover {
  background: #27ae60;
}

.btn-signup.btn-lg {
  padding: 10px 50px;
}

.sign-up {
  padding: 50px 0;
  background: #101010;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.sign-up h1 {
  margin: 0;
  color: #fff;
  font-size: 27px;
  font-weight: 100;
}

.sign-up .form-group {
  padding: 0;
  margin-bottom: 0;
}
.sign-up input[type="email"],
.sign-up .btn-signup {
  height: 45px;
}

.sign-up input[type="email"] {
  border-right: none;
  border-bottom-right-radius: 0;
}

.sign-up input[type="email"]:active,
.sign-up input[type="email"]:focus {
  box-shadow: none;
  border-color: #2ecc71;
}

.sign-up .btn-signup {
  color: #fff;
  border-left: none;
  padding-left: 20px;
  padding-right: 20px;
  border-top-left-radius: 0;
}

.feature {
  padding: 60px 0;
  min-height: 50vh;
}

.feature:nth-child(odd) {
  border-bottom: 3px inset #ddd;
}

.feature:nth-child(even) {
  background: #fff;
  border-bottom: 3px solid #ddd;
}

.feature .feature-title {
  float: left;
  color: #000;
  font-weight: 100;
  padding-bottom: 15px;
  border-bottom: 1px solid;
}

.feature .feature-description p {
  float: left;
  margin-top: 2em;
  font-size: 1.1em;
  line-height: 1.8em;
}

.feature .feature-icon {
  text-align: center;
}

.feature-icon .feature-icon-wrapper {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 50%;
}

.feature:nth-child(odd) .feature-icon-wrapper {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.feature-icon i {
  color: #f1f1f1;
  font-size: 20em;
  line-height: 1.4em;
  text-shadow: -1px -2px 1px rgba(0,0,0,0.2);
}

.feature-lightweight i {
  padding-left: 20px;
}

footer {
  padding: 30px 0;
  background: #101010;
}

footer p {
  margin: 0;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .main-header-content-wrapper {
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
  }

  .main-header-content-wrapper h1 {
    font-size: 42px;
  }

  .main-header-content-wrapper h1:after {
    margin: .5em auto;
  }

  .main-navbar {
    background: #252525;
    border-bottom: 2px solid #000;
  }

  .main-navbar .navbar-collapse {
    background: #000;
    padding: 15px;
  }

  .main-navbar .navbar-nav {
    margin: 0;
  }

  .main-navbar li {
    margin-bottom: 10px;
  }

  .main-navbar li a {
    text-align: left;
  }

  .sign-up h1 {
    margin-bottom: 1em;
    text-align: center;
  }

  .sign-up input[type="email"] {
    border-bottom-left-radius: 0;
  }

  .sign-up .btn-signup {
    width: 100%;
    border-top-right-radius: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-header-content-wrapper {
    top: 50%;
    left: 50%;
    max-width: 960px;
    transform: translate(-50%, -50%);
  }

  .main-header-content-wrapper h1 {
    font-size: 60px;
  }

  .main-header-content-wrapper h1:after {
    margin: 1em auto;
  }

  .main-navbar {
    margin-top: 20px;
    background: transparent;
  }

  .sign-up h1 {
    line-height: 42px;
  }

  .sign-up input[type="email"] {
    border-top-right-radius: 0;
  }

  .sign-up .btn-signup {
    border-bottom-left-radius: 0;
  }

  .feature .feature-title {
    font-size: 4.5em;
  }
}
